@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea:focus,
input:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 20px;
}

@layer components {
  .login__input {
    @apply w-80 bg-defaultBlue-50 px-3 py-3 rounded-md;
  }

  .login__submit {
    @apply w-80 bg-defaultBlue-300 px-3 py-3 rounded-md text-white hover:text-defaultBlue-300 border-defaultBlue-300 border-2 hover:bg-white transition-all;
  }

  .nav__item {
    @apply cursor-pointer flex w-40 h-8 items-center justify-start rounded-lg p-2;
  }
}

.page__title {
  @apply text-2xl font-semibold;
}
